node_modules
.env
.local.env
dist
./src/**/*.js
bin/*.jpg
functions/env.json
functions/ui-debug.log
firestore-debug.log
firebase-debug.log
ui-debug.log
.vscode/launch.json
Private
src/scripts/fixtures/current-wallet-addresses.json
src/scripts/fixtures/left-over-wallet-addresses.txt
src/scripts/fixtures/wallet-addresses.json
src/scripts/fixtures/stakePools/mainnet-stake-pools.json
src/scripts/fixtures/stakePools/testnet-stake-pools.json
src/scripts/fixtures/*
